{% extends "home.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'chatbot_style.css' %}">
{% endblock %}
{% block app_content %}
    <div id="chatbot">
    <div class="wrapper">
        <div class="title">Simple Chatbot</div>
        <div id="box_div" class="box">
            
        </div>
        
        <div class="typing-area">
            <div class="input-field">
                <input id="user_input" type="text" placeholder="Type your message" required>
                <button id="submit_chat_btn">Send</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'chatbot_stuff.js' %}"></script>
{% endblock %}