{% extends "home.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'chatbot_style.css' %}">
{% endblock %}
{% block app_content %}
    <form id="save_form" method="POST" action="{% url 'save_chat' %}" data-csrf-token="{{ csrf_token }}">
    {% csrf_token %}
    <!-- Quiz Name -->
    <div class="form-group">
        <label for="id_chat_name">{{ form.name_title.label }}</label>
        <input type="text" id="id_chat_name" name="{{ form.name_title.name }}" placeholder="Chat Name" maxlength="128" class="form-control" required>
        {% for error in form.name_title.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    <button class="btn_copy_chatbot" id="save_chat_btn" type="submit">Save Chat</button>
    </div>
    </form>
    <div id="chatbot">
    <div class="wrapper">
        <div class="title">LYL Chatbot</div>
        <div id="box_div" class="box">
        </div>
        
        <div class="typing-area">
            <div class="input-field">
                <input id="user_input" type="text" placeholder="Type your message" required>
                <button id="submit_chat_btn" data-url="{% url 'answer_user_input' %}" data-csrf-token="{{ csrf_token }}">Send</button>
            </div>
        </div>
    </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block scripts %}
<script src="{% static 'chatbot_stuff.js' %}"></script>
{% endblock %}