{% extends "base.html" %}

{% block title %}Reset Email Sent{% endblock %}

{% block content %}
    <nav>
    <ul>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    </ul>
    </nav>
<div class="container">
<div class="form-group">
    <h2>Password Reset Sent</h2>
    <p>If an account exists with the email you entered, a password reset link has been sent to that email address.</p>
    <p>Please check your inbox and follow the instructions in the email.</p>
</div>
</div>
{% endblock %}

