{% extends "home.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'quiz_style.css' %}">
{% endblock %}
{% block app_content %}
<form method="post">
    {% csrf_token %}

<div class="form-group">
    
    <label for="{{ form.title.id_for_label }}">Title</label>
    {{ form.title }}
{% for error in form.title.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
<br/>
    <label for="{{ form.prompt.id_for_label }}">Prompt</label>
        {{ form.prompt }}
    {% for error in form.prompt.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
</div>

    <button id="upload_btn_lib" class="btn_copy" type="submit">Submit</button>
</form>
{% endblock %}
{% block scripts %}
{#<script src="{% static 'upload_file.js' %}"></script>#}
{% endblock %}
