{% extends "home.html" %}
{% load static %}
{% block stylesheets %}
{#    <link rel="stylesheet" href="{% static 'quiz_style.css' %}">#}
{% endblock %}
{% block app_content %}
<form method="post">
    {% csrf_token %}
    
    <label for="{{ form.title.id_for_label }}">Title</label>
    {{ form.title }}
{% for error in form.title.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
<br/>
    <label for="{{ form.prompt.id_for_label }}">Prompt</label>
    <textarea name="{{ form.prompt.name }}" id="{{ form.prompt.id_for_label }}">
        {{ form.prompt.value|default_if_none:'' }}
    </textarea>
    {% for error in form.prompt.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}

    <button type="submit">Submit</button>
</form>
{% endblock %}
{% block scripts %}
{#<script src="{% static 'upload_file.js' %}"></script>#}
{% endblock %}
