<<!-- templates/home.html -->
{% extends "home.html" %}

{% block app_content %}
    <!-- quiz_detail.html -->
<h1>Document: {{ video.title }}</h1>
    <h4>Status: {{ video.status }}</h4>
    <p>{{ video.prompt }}</p>
    {% if video.status != "processing" %}
        <a class="btn_del" href="{% url 'delete_video' video.pk %}">Delete Video</a>
        {% else %}
        <p>status = {{ status }}</p>
        <p>message = {{ message }}</p>
    {% endif %}
    {% if video.status == "completed" %}
        <p>Completed</p>
        <a class="btn_copy_lib" href="{% url 'download_video' video.pk %}">Download Video</a>
    {% endif  %}
    
{% endblock %}