<<!-- templates/home.html -->
{% extends "home.html" %}
{% load static %}
{% block app_content %}
    
    <form id="quiz_form" method="POST" enctype="multipart/form-data" data-url="{% url 'generate_quiz' %}" data-csrf-token="{{ csrf_token }}">
    {% csrf_token %}
    
    <!-- Quiz Name -->
    <div class="form-group">
        <label for="id_quiz_name">{{ form.quiz_name.label }}</label>
        <input type="text" id="id_quiz_name" name="{{ form.quiz_name.name }}" value="{{ form.quiz_name.value }}" maxlength="128" class="form-control">
        {% for error in form.quiz_name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <!-- File Upload -->
    <div class="form-group">
        <label for="id_file">{{ form.file.label }}</label>
        <input type="file" id="id_file" name="{{ form.file.name }}" class="form-control-file">
        {% for error in form.file.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Number of Questions -->
    <div class="form-group">
        <label for="id_number_of_questions">{{ form.number_of_questions.label }}</label>
        <input type="number" id="id_number_of_questions" name="{{ form.number_of_questions.name }}" value="{{ form.number_of_questions.value }}" min="1" max="10" class="form-control">
        {% for error in form.number_of_questions.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Temperature -->
    <div class="form-group">
        <label for="id_temperature">{{ form.temperature.label }}</label>
        <input type="number" id="id_temperature" name="{{ form.temperature.name }}" value="{{ form.temperature.value }}" min="0" max="2" class="form-control">
        {% for error in form.temperature.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <button id="generate_quiz_btn" type="submit">Generate Quiz</button>
    </form>
    <br/>
    <br/>
    <div id="new_quiz"></div>
{% endblock %}
{% block scripts %}
<script src="{% static 'generate_quiz.js' %}"></script>
{% endblock %}



