<!-- templates/home.html -->
{% extends "home.html" %}

{% block app_content %}
    <!-- quiz_detail.html -->
<h1>Quiz: {{ quiz.title }}</h1>
    <a class="btn_del" href={% url 'delete_quiz' quiz.pk %}>Delete Quiz</a>

<form method="POST">
    {% csrf_token %}
    
    {% for data in quiz_data %}
        <div class="question">
            <h2>Question {{ data.question.question_number }}: {{ data.question.question_text }}</h2>
            
            <ol type="A">
                {% for answer in data.answers %}
                    <li>
                        <label>
                            <input type="radio" name="question_{{ data.question.id }}" value="{{ answer.id }}">
                            {{ answer.answer_text }}
                        </label>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
    
    <button class="btn_copy" type="submit">Submit Quiz</button>
</form>
{% endblock %}








