{% extends "home.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <nav>
    <ul>
            <li>Hi {{ user.username }}!</li>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'index' %}">Quizzes</a></li>
            <li><a href="{% url 'chat_index' %}">Chatbot</a></li>
            <li><a href="{% url 'library_index' %}">Library</a></li>
            <li><a href="{% url 'video_index' %}">AI Video</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button></form></li>
    </ul>
    </nav>
        {% else %}
    <nav>
    <ul>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    </ul>
    </nav>
    {% endif %}
<div class="container">
<h2>Contact Us</h2>

{% if success %}
  <p>Thanks for your message! We'll get back to you soon.</p>
{% else %}
  <form method="post">
    {% csrf_token %}
      
          <div class="form-group">
    {{ form.as_p }}
    <button class="btn_copy_login" type="submit">Send</button>
          </div>
  </form>
    </div>
{% endif %}
{% endblock %}