<!-- templates/home.html -->
{% extends "home.html" %}

{% block app_content %}
<h4>HOMEPAGE</h4>
    
            <section>
                <p>Quizzes Section</p>
                <a class="main_a_tag" href="{% url 'index' %}">See your available quizzes or create a new one?</a>
            </section>

            <section>
                <p>Chatbot Section</p>
                <a class="main_a_tag" href="{% url 'chat_index' %}">See your available chats or create a new one?</a>
            </section>
    
            <section>
                <p>Personal Library Chatbot</p>
                <a class="main_a_tag" href="{% url 'library_index' %}">See your available chats or create a new one?</a>
            </section>
    
            <section>
                <p>AI Videos</p>
                <a class="main_a_tag" href="{% url 'video_index' %}">See your available AI generated Videos or create a new one?</a>
            </section>
{% endblock %}