<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}MCQ Generator{% endblock %}

{% block content %}
    
{% if user.is_authenticated %}
    <nav>
        <ul>
            <li>Hi {{ user.username }}!</li>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'index' %}">Quizzes</a></li>
            <li><a href="{% url 'chat_index' %}">Chatbot</a></li>
            <li><form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button></form></li>
        </ul>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
   <div class="container">
    
    {% block app_content %}
    {% endblock %}
   </div>
{% else %}
    <nav>
    <ul>
<li>You are not logged in</li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    </ul>
    </nav>
{% endif %}
{% endblock %}