<<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}MCQ Generator{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
    <a href={% url 'index' %}>Home</a>
    <a href={% url 'create_quiz' %}>Create Quiz</a>
    {% block app_content %}
    {% endblock %}
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}